<div  ng-controller="NavbarCtrl">
<nav class="navbar navbar-fixed-left navbar-minimal animate" ng-class="{open: open}" role="navigation">
  <div class="navbar-toggler animate" ng-click="open = !open">
    <span class="menu-icon"></span>
  </div>
  <ul class="navbar-menu animate">
    <li>
      <a href="/" class="animate">
        <span class="desc animate">Home</span>
        <span class="fa fa-home"></span>
      </a>
    </li>
  </ul>
</nav>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>RCRDList</h1>
  </div>
</header>
  
  </div>