h1, h2 {
  text-align: center;
}

.fa {
  margin-right: 16px;
}


md-content#cta {
  background-color: rgb(245,245,245);
}

md-input-container {
  margin-right: 10px;
}


/* entire container, keeps perspective */
rcrd-release {
	perspective: 1000;

	/* flip the pane when hovered */
	&:hover .spin, &.hover .spin {
		transform: rotateY(180deg);
	}
}

md-sidenav.md-locked-open {
width: 200px;
min-width: 200px;
}