<div layout="column" layout-fill>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$media('gt-md')">
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools" hide show-gt-md>Navigation</h1>
        <h1 class="md-toolbar-tools" hide-gt-md>RCRDList</h1>
      </md-toolbar>
      <md-content class="md-padding" ng-controller="LeftCtrl">
        <p>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex>
          <md-toolbar class="md-primary">
    <div class="md-toolbar-tools" ng-click="toggleLeft()">
      <span class="md-flex fa fa-bars" hide-gt-md></span>
      <span class="md-flex">RCRDList</span>
    </div>
  </md-toolbar>

      <md-content class="md-padding">
           <div layout layout-align="center center">Get new music in your inbox. Every day.</div>   
        
        <form action="//rcrdbox.us7.list-manage.com/subscribe/post?u=e65674ce22790a2765549315e&amp;id=928bc7161c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate layout layout-align="center center" layout-sm="column">
        <md-input-container>
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </md-input-container>
        
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e65674ce22790a2765549315e_928bc7161c" tabindex="-1" value=""></div>
        <md-button class="md-raised md-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Join the List</md-button>
  </form>
      </md-content>
      <div layout="row" layout-wrap layout-align="center center">
        <div flex-gt-sm="33" flex="50" ng-repeat="release in releases">
          <rcrd-release release="release"></rcrd-release>
        </div>
      </div>
    </md-content>
  </section>
</div>