<div class="spin">
<div class="front">
  <md-card>
  <img ng-src="{{release.artwork}}" alt="{{release.artist}}" ng-click="showAbout($event)">
</md-card>
  </div>
<div class="back">
  <md-card>
  <img ng-src="{{release.artwork}}" alt="{{release.artist}}">
  <md-card-content layout="row" layout-align="center start">
    <div flex="50">
    <h2><em>{{release.album}}</em></h2>
      </div>
    <div flex="50">
    <h3>{{release.artist}}</h3>
      <md-button ng-click="playAlbum()">Stream this<br>album</md-button>
      </div>
  </md-card-content>
</md-card>
  </div>
</div>