<div class="spin">
<div class="front">
  <md-card>
  <img ng-src="{{release.artwork}}" alt="{{release.artist}}" ng-click="showAbout($event)">
</md-card>
  </div>
<div class="back">
  <md-card>
  <img ng-src="{{release.artwork}}" alt="{{release.artist}}">
  <md-card-content layout="column" layout-align="start center">
    <h3><em>{{release.album}}</em><br>{{release.artist}}</h3>
      <p class="details">{{release.genre}} &mdash; {{release.date | date:'mediumDate'}}</p>
    <div layout="row" layout-align="center center">
      <a class="flaticon-spotify" ng-href="{{release.spotify}}" ng-show="release.spotify" target="_blank"></a>
      <a class="flaticon-bc1" ng-href="{{release.bandcamp}}" ng-show="release.bandcamp" target="_blank"></a>
      <a class="flaticon-soundcloud7" ng-href="{{release.soundcloud}}" ng-show="release.soundcloud" target="_blank"></a>
      <a class="flaticon-amazon5" ng-href="{{release.amazon}}" ng-show="release.amazon" target="_blank"></a>
      <a class="flaticon-itunes" ng-href="{{release.itunes}}" ng-show="release.itunes" target="_blank"></a>
      <a class="flaticon-circular263" ng-href="{{release.gplay}}" ng-show="release.gplay" target="_blank"></a>
      <a class="flaticon-play62" ng-href="{{release.jamendo}}" ng-show="release.jamendo" target="_blank"></a>
    </div>
      <md-button ng-click="playAlbum()">Stream</md-button>
  </md-card-content>
</md-card>
  </div>
</div>